span {
  font-family: Montserrat, sans-serif;
}

.top-buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

@media (max-width: 390px) {
  span {
    font-size: 12px;
  }

  .logoutButton {
    margin: 0 5px;
    font-size: 14px;
    padding: 5px;
    max-width: 25px;
    max-height: 25px;
  }
}