span {
  font-family: Montserrat, sans-serif;
}

.top-buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 50px;
}

header {
  a {
    margin: auto 0;
  }
}

@media (max-width: 390px) {
  span {
    font-size: 12px;
  }

  .top-buttons {
    margin-right: 0;

    button {
      font-size: 12px;
      margin-right: 5px;
      width: 60px;
    }
  }

  .logoutButton {
    margin: 0 5px;
    font-size: 14px;
    padding: 5px;
    max-width: 25px;
    max-height: 25px;
  }
}