.error-section-container {
  box-shadow: -2px -2px 3px 2px #e88d3950;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 5px;
  margin-bottom: 30px;
  width: 90%;
}

.error-section-article {
  font-family: Montserrat, sans-serif;
  font-size: 24px;
  width: 90%;

  h1, h2, h3 {
    margin: 10px 0;
  }
  
  span {
    color: #e88d39;
    font-size: 18px;
    font-weight: 500;
  }
}

@media (max-width: 390px) {
  .error-section-article {
    span {
      color: #e88d39;
      font-size: 12px;
    }

    h2 {
      font-size: 16px;
    }
    
    h3 {
      font-size: 14px;
    }
  }
}